
GeoResults/Tomcat/*
GeoResults/georesults/WEB-INF/classes/*
GeoResults/classes/*
GeoResults/bak/*
GeoResults/_model/*.xml.zip.bak
ScsJavax/target/*
GeoResults/target/*
GeoResults/webapp_workdir/*
target/
temp/